@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Inter", sans-serif;
}

html,body{
    height: 100vh;
    width: 100vw;

}

body{
    background-color: #EFEFF0;
    color:#580B0E;
}

main{
    width: 100%;
    height: 100%;
    background-color: #EFEFF0;
    overflow-x: hidden;
}

nav{
    width: 100%;
    display: flex;
   
    justify-content: space-between;
    padding-block: 20px;
    padding-inline: 25px;
}

nav img{
    width: 100px;
    height: 100px;
}

.textDiv{
    width: 63%;
}

.textDiv h1,
.top h1{
    font-size: 66px;
    line-height:66px;
    font-weight: 500;   
    text-transform: uppercase;

}

.grey{
    color:#A69F9F;
}

.greyDiv{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-self: flex-end;
}

.greyDiv h1{
    width: 100%;
    display: flex;
    text-align: left; 
}

.textDiv p{
    width: 40%;
    margin-top: 20px;
    /* font-size: 13px; */
    line-height: 15px;
    font-weight: 400;
    justify-self: center;
    padding-left: 55px;
}
.textDiv h1 div{
    /* height: 30px; */
    width:150px;
    background-color: red;
    display: inline-block;
    border-radius: 50px;
}

.cardDiv{
    width: 100%;
    height:400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding-inline: 25px;
    padding-bottom: 25px;
}

.cardDiv .left{
    width:22%;
    height: 100%;
   display: flex;
   align-items: flex-end;
}

.cardDiv .left h2{
    font-weight: 500;
    
}

.cardDiv .right{
    width:78%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #580B0E; */
}
.card{
    width: 30%;
    height: 100%;
    border-radius: 26px;
    background-color: #580B0E;
    /* overflow: hidden; */
}

.card img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.bottomtext{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 25px;
    padding-block: 25px;
    /* background-color: red; */
}

.top{
 width: 50%;
}

.first{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.bottomtext .second{
    width: 120%;
    display: flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:flex-start;
    gap:8px;
}

.bottomtext p{
 margin-top: 20px;
 width:30%;
}

