*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width:100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    height: 90%;
    width: 90%;
    background-color:rgb(88, 207, 228);
    position: relative;
    display: flex;
    gap: 20px;

}

.pipes{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    gap: 20px;
    overflow: hidden;

}

.pipe{
    position: absolute;
    width:70px;
    background-color:rgb(88, 228, 109);
}

.bird{
    position: absolute;
    top:50%;
    width: 90px;
    height: 90px;
    background-image: url("/fbird.png");
    background-size: contain;
    background-repeat: no-repeat;
    transform:scaleX(-1);
}